@model MVC.ViewModels.Cliente.ViewModelClienteGanancia

@{
    ViewBag.Title = "Details";
}

<h2>Previcion de ganancia</h2>

<div>
    <h4>ViewModelClienteGanancia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Previcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Previcion)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Volver", "List")
</p>
